*{
    margin:0;
    padding:0;
}
main{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-53.5%,-45.5%);
}
table{
    border-spacing: .5px;
    margin:0;
    padding:0;
    border: .1px solid black;
    border-top: none;
    border-left:none;  
    border-bottom:none;
    border-right:none;
}

tr{

    width: 75px;
    border: .1px solid black;
    height:50px;
}
td{
    width:75px;
    border:.1px solid black;
    text-align:center;
}
.value{
    border-bottom: 0px black solid;
}

a{
    position: relative;
    left:45%;
    padding-right: 40px;
}
header{
     width:100%
}
h1{
    text-align:center;
}
.clear{
    font-size: 15px;
    position:absolute;
    top:107%;
    left: 54%;
}
@media only screen and (max-width: 768px){
    *{
        overflow:hidden;
    }
    h1{
        position:none;
    }

    a{
        left:150px;
        font-size: 30px;
    }
    button{
        transform:translate(-140px,-140px);
        width:320px;
        height:80px;
    }
    main{
        height:70vh;
        width:100%;
        position: relative;  
    }
    table{
        transform:translate(70px, 0);
    }
    td{
        width: 50px;
        height:50px;
    }
    tr{
    width:20%;
    height:20%;}
}
.input{
    transform:translate(160px,0px);
}
